# Xcode
DerivedData/
.derivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Secrets / local signing
*.mobileprovision
*.p12
*.cer
.env
.env.*
